<p> Enter your city to see the current weather </p>
<%= form_tag({controller: "weather", action: "index"}, method: "get") do %>
  <%= text_field_tag :location, params[:location] %>
  <%= submit_tag("Search", name: nil)%>
<% end %>

<% if @weather %>
  <p class="weather">Current Weather for <%= @weather.display_name %> </p>
  <img src="<%= @weather.icon %>">
  <p>Temperature: <%= @weather.temp %>°F</p>
  <p>Humidity: <%= @weather.humidity %>%</p>
  <p>Wind Speed: <%= @weather.wind %> mph</p>
  <p>-</p>
  <p>High: <%= @weather.high %>°F</p>
  <p>Low: <%= @weather.low %>°F</p>
  <p>-</p>
  <% if @weather.time %>
    <p> Data loaded from cache. </p>
  <% end %>
<% elsif @error_msg %>
  <p><%=@error_msg%></p>
<% end %>
